* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    width: 1156px;
    height: 537px;
    top: 137px;
    left: 142px;
    background-color: #000000;    
}

.github-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 45px;
}

.search-form {
    position: relative;
    width: 100%;
    height: 62px;
    margin-top: 45px;
}

.search-input {
    width: 503px;
    height: 62px;
    padding-left: 16px;
    border-radius: 8px;
    border: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;    
}

.search-input::placeholder {
    font-family: Nunito Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;    
}

.search-icon-background {
    position: absolute;
    width: 62px;
    right: 0.6px;
    height: 62px;
    left: calc(50% + 503px/2 - 62px);
    top: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #005CFF;
    cursor: pointer;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;           
    align-items: center;     
    justify-content: center; 
}

.error-container {
    width: 710px;
    height: 88px;
    position: absolute;
    margin-top: 70px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    background-color: #D9D9D9;
}

.error-message {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FF0000;
    width: 497px;
    height: 54px;
    margin-top: 17px;
    margin-left: 107px;
    white-space: pre-line;        
}

.profile-container {
    width: 804px;
    height: 257px;
    position: absolute;
    margin-top: 150px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 10px;
    background-color: #D9D9D9;
}

.profile-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profile-image {
    background-color: #aaa;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    overflow: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: translateY(19px);
    margin-top: 0;
    margin-left: 33px;
    border: 2px solid #005CFF;
    flex-shrink: 0;
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.profile-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 0;
    margin-top: 60px;
}

.profile-avatar {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-name {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;   
    color: #005CFF;
    margin: 0;
    padding: 0;
    text-align: left;
}

.profile-bio {
    font-family: Nunito Sans;
    font-weight: 300;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;    
    margin-top: 16px;
    padding: 0;
    text-align: left;
    color: #000000;    
}